<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-menu-button menu="menuPrincipal" color="primary"></ion-menu-button>
      </ion-buttons>
      <!-- Otra forma de mostrar el botón del menú más compleja y que además 
      requiere código en el archivo ts -->
      <!-- <ion-button (click)="mostrarMenu()">
        <ion-icon
          slot="icon-only"
          name="menu-outline"
          color="primary"
        ></ion-icon>
      </ion-button> -->
    </ion-buttons>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- detail para que salga la flechita ->  -->
    <ion-item
      *ngFor="let c of componentes | async"
      [routerLink]="c.redirecTo"
      detail
    >
      <ion-icon [name]="c.icon" slot="start" color="primary"></ion-icon>
      {{c.name}}
    </ion-item>
  </ion-list>
</ion-content>
